@charset "utf-8";

@font-face {
    font-family: 'NanumSquareRoundB';
    font-style: normal;
    font-weight:400;
    src:url(./fonts/nanumsquareroundotfb-webfont.woff2) format('woff2'),
        url(./fonts/nanumsquareroundotfb-webfont.woff) format('woff'),
        url(./fonts/NanumSquareRoundOTFB.otf) format('otf');
}
@font-face {
    font-family: 'NanumSquareRoundEB';
    font-style: bold;
    font-weight: 600;
    src: url(./fonts/nanumsquareroundotfeb-webfont.woff2) format('woff2'),
        url(./fonts/nanumsquareroundotfeb-webfont.woff) format('woff'),
        url(./fonts/NanumSquareRoundOTFEB.otf) format('otf');
}

* {
    margin: 0; padding: 0; box-sizing: border-box;
}

body {
    font-family: 'NanumSquareRoundB';
    min-width: 1200px;
}
ul, ol, dl {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
address {
    font-style: normal;
}
button {
    background: transparent;
    border: none;
    cursor: pointer;
}
.hidden {
    display: block; 
    text-indent: -9999px; overflow: hidden; white-space: nowrap;
}
.inner {
    position: relative;
    max-width: 1200px; min-width: 870px;
    margin: 0 auto;
    width: 100%; height: 100%;
}
.msgbox-01 {
    position: relative;
    z-index: 3;
}
.msgbox-01 h3 {
    font-family: 'NanumSquareRoundOTFEB';
    font-size: 42px; line-height: 52px;
}
.msgbox-01 p {
    color: #666;
    margin-top: 30px;
    font-size: 20px; line-height: 30px;
}
.msgbox-01 .btn-link {
    width: 180px;
}
.btn-link {
    display: block;
    margin-top: 30px;
    font-family: 'NanumSquareRoundOTFEB';
    color: #000; font-size: 16px; line-height: 52px;
    text-align: center;
    background-color: #92f5d9; border-radius: 36px;
    transition: background-color 0.3s;
}
.btn-link:hover {
    background-color: #00eda9;
}


.bg-visual {
    position: absolute;
    width: 100%; height: 100%;
}
.bg-visual img {
    position: absolute;
}

/* 스와이퍼 영역 */
.swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 3;
  }
  .swiper-slide {
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 360px;
    height: 218px;
  }
  .btn-area-swiper {
    display: flex; justify-content: space-around; align-items: center;
    position: absolute;
    margin-top: 40px; padding: 10px 16px 10px;
    right: 120px;
    width: 110px; height: 48px;
    background-color: #fff; border: 2px solid #ddd; border-radius: 24px;
  }
  .btn-area-swiper button {
    width: 27px; height: 17px;
    background-size: contain;
  }
  .btn-swiper-next {
    background: url(./image/button_arrow_right_on.svg) no-repeat;
  }
  .btn-swiper-next.swiper-button-disabled {
    background-image: url(./image/button_arrow_right.svg);
  }
  .btn-swiper-prev {
    background: url(./image/button_arrow_left_on.svg) no-repeat;
  }
  .btn-swiper-prev.swiper-button-disabled {
    background-image: url(./image/button_arrow_left.svg);
}



/****************
    헤더 영역 시작
 ****************/
header {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 80px;
    background-color: transparent;
    z-index: 20;
}

header .inner {
    display: flex;
    justify-content: space-between; align-items: center;
    max-width: 1440px; width: 1200px; height: 80px;
}
header .main-logo {
    width: 162px; height: 52px;
    background: url(./image/logo.svg) no-repeat center; background-size: contain;
}
header nav ul {
    display: flex;
}
header nav ul li + li {
    margin-left: 30px;
}
header nav ul a {
    color: #fff;
    font-family: 'NanumSquareRoundOTFEB';
    font-size: 18px; line-height: 18px; letter-spacing: 0.3px;
}
header .box-login {
    display: block;
    width: 100px; height: 48px;
    font-family: 'NanumSquareRoundOTFEB';
    color: #00eda9; font-size: 14px; line-height: 48px; text-align: center;
    background: url(./image/button_login_white.png) no-repeat center; background-size: contain;
    cursor: pointer;
}
#header.scroll {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 16%);
}
#header.scroll ul a {
    color: #000;
}
#header.scroll .main-logo {
    background-image: url(./image/logo_black.svg);
}
#header.scroll .box-login {
    color: #3d46ff;
    background-image: url(./image/button_login_black.png);
}



 /****************
    메인 영역 시작
 ****************/

.mainvisual-01 {
    position: relative;
    padding-top: 80px;
    width:100%; height: 850px;
    background-color: #3d46ff;
    overflow: hidden;
}

.mainvisual-01 .box-link-01 {
    position: absolute;
    top: 190px; left: 0;
    color: #fff;
}
.mainvisual-01 .box-link-01 h2 {
    width: 680px; height: 182px;
    background: url(./image/bg_main_spot_title.svg) no-repeat center; background-size: contain;
}
.mainvisual-01 .box-link-01 p {
    margin-top: 50px;
    font-size: 22px; line-height: 38px;
}
.mainvisual-01 .wrapper {
    position: relative;
    max-width: 1440px; width: 1200px;
    padding: 0 120px;
}
.bg-visual .robot_main{
    top: 230px; right: 50%;
    margin-right: -570px;
    width: 240px; height: 260px;
    animation: up-down1 ease-in-out 2s infinite;
}
.bg-visual .bg_main {
    top: -80px; right: 50%;
    margin-right: -527px;
    height: 850px;
}
.bg-visual .robot_sub {
    top: 85px; right: 50%;
    margin-right: -240px;
    width: 125px; height: 135px;
    animation: up-down2 1.8s ease-in-out infinite;
}
.bg-visual .object_01 {
    top: 90px; right: 50%;
    margin-right: -660px;
    width: 66px;
    transform: rotate(170deg);
    animation: circle2 8s linear infinite;
}
.bg-visual .object_02 {
    bottom: 240px; right: 50%;
    margin-right: -140px;
    width: 147px; 
    animation: circle1 5s linear infinite;
}
.bg-visual .object_03 {
    bottom: -14px; right: 50%;
    margin-right: -950px;
    width: 360px;
    animation: circle2 10s linear infinite;
}


.content {
    background-image: linear-gradient(to bottom, #00e7ae, #ffffff 14%);
    
}
.bg-visual .object_11 {
    left: 50%; margin-left: -242px;
    width: 1050px;
}
.bg-visual .object_12 {
    top: 30px; right: 50%;
    margin-right: 300px;
    width: 540px;
    z-index: 1;
}
.bg-visual .object_13 {
    top: 300px; right: 50%;
    margin-right: 50px;
    width: 270px;
    z-index: 1;
}
.bg-visual .object_14 {
    top: 800px; right: 50%;
    margin-right: 380px;
    width: 66px; height: 66px;
    animation: circle1 4s linear infinite;
}
.bg-visual .object_15 {
    top: 980px; right: 50%;
    margin-right: -820px;
    width: 180px;
    animation: circle3 7s linear infinite;
}
.bg-visual .object_16 {
    top: 1250px; right: 50%;
    margin-right: 470px;
    width: 360px;
    animation: circle3 9s linear infinite;
}
@keyframes up-down1 {
    0% {
        transform: translate(1px,1px);
    }
    50% {
        transform: translate(1px,20px);
    }
    100% {
        transform: translate(1px,1px);
    }    
}
@keyframes up-down2 {
    0% {
        transform: translate(1px,1px);
    }
    50% {
        transform: translate(1px,10px);
    }
    100% {
        transform: translate(1px,1px);
    }    
}
@keyframes circle1 {
    0% {
        transform: rotate(0deg) translateX(-10px) rotate(0deg);
    }
    100% {
        transform: rotate(-360deg) translateX(-10px) rotate(360deg);
    }
}
@keyframes circle2 {
    0% {
        transform: rotate(0deg) translateX(10px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(10px) rotate(-360deg);
    }
}
@keyframes circle3 {
    0% {
        transform: rotate(0deg) translateX(-20px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(-20px) rotate(-360deg);
    }
}

.aiData {
    height: 800px;
}
.aiData .msgbox-01 {
    padding-top: 250px;
}
.aiWorld {
    text-align: center;
    margin-bottom: 160px;
}
.aiWorld .msgbox-01 {
    display: flex; flex-direction: column; align-items: center;
    margin: 120px 0 80px;
}
.aiWorld .msgbox-01 h3 {
    font-size: 70px;
}
.aiWorld .msgbox-01 p {
    padding-top: 60px;
    font-size: 24px; line-height: 38px;
}
.aiWorld a {
    position: relative;
}
.aiWorld video {
    width: 100%; height: auto;
}
.software {
    display: flex;
    padding-left: 120px; 
}
.software .msgbox-01 h3{
    width: 420px;
}
.post-video img {
    margin-bottom: 20px;
}
.post-video strong {
    font-family: NanumSquareRoundOTFEB;
    font-size: 20px; line-height: 22px;
    color: #000;
}
.post-video p {
    overflow: hidden; text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    padding-top: 10px;
    font-size: 18px; line-height: 20px;
    color: #666;
}
.post-video span {
    display: block;
    position: relative;
    margin-top: 12px; padding-left: 22px;
    font-size: 18px; line-height: 20px;
    color: #434dfe;
}
.post-video span::before {
    content: '';
    display: inline-block; position: absolute;
    bottom: 0; left: 0;
    width: 16px; height: 16px;
    background: url(./image/ico_time.svg) no-repeat;
}
.news_story {
    margin-bottom: 270px; overflow: hidden;
}
.news_story .msgbox-01 {
    display: flex; flex-direction: column; 
    text-align: center; align-items: center;
    margin: 150px 0 80px; 
}
.news_story #newsSwiper {
    margin-left: 120px;
}
.post-article li {
    width: 360px;
}
.post-article img {
    margin-bottom: 20px;
    width: 360px; height: 218px;
}
.post-article p {
    font-size: 20px; line-height: 22px; color: #434dfe;
}
.post-article strong {
    padding-top: 5px;
    font-size: 20px; line-height: 30px;
}
.post-article span {
    display: block;
    padding-top: 14px;
    font-size: 16px; line-height: 20px; color: #999;
}

.entry {
    position: fixed;
    right: 78px; bottom: 34px;
    width: 230px; height: 56px;
    box-shadow: 3px 5px 5px 0 rgb(0 0 0 / 23%);
    background-color: #6e5ae6;
    font-family: 'NanumSquareRoundOTFEB';
    color: #fff; font-size: 18px; line-height: 56px; text-align: center;
    border-radius: 28px;
    z-index: 100;
    opacity: 0;
 }
.entry.on {
    opacity: 1;
}



/****************
    푸터 영역 시작
 ****************/
footer {
    background-color: #f7f7f7;
}
footer .inner {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0;
}
footer .inner div,
footer .inner address {
    width: 400px;
}
footer .main-logo {
    display: block;
    width: 202px; height: 65px;
    background: url(./image/logo_footer.svg) no-repeat center; background-size: contain;
}
footer strong {
    font-family: 'NanumSquareRoundOTFEB';
    font-size: 14px;
    line-height: 18px;
}
footer dt {
    float: left;
    margin-right: 5px;
}
footer dt,
footer dd,
footer a {
    font-size: 14px; line-height: 26px;
    color: #6f6f6f;
}
footer .connFoundation, 
footer .terms {
    padding-top: 36px;
}
footer .connFoundation a{
    font-size: 12px;
    line-height: 22px;
    color: #181f41;
}
footer .terms li {
    float: left;    
}
footer .terms li + li {
    margin-left: 20px;
}
footer .terms li:nth-of-type(2) {
    font-weight: bold;
}
.box-link-02 a {
    float: right;
    width: 50px; height: 50px; 
}
.box-link-02 a + a {
    margin-right: 12px;
}
.box-link-02 .naverPost {
    background: url(./image/sns_naverpost.svg) no-repeat;
}
.box-link-02 .naverTV {
    background: url(./image/sns_navertv.svg) no-repeat;
}
.box-link-02 .facebook {
    background: url(./image/sns_facebook.svg) no-repeat;
}
.box-link-02 .youtube {
    background: url(./image/sns_youtube.svg) no-repeat;
}