@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');


* {
     margin: 0; padding: 0;
 }
 body {
     font-family: 'Noto Sans KR', sans-serif;
     font-size: 15px;
     color: #222;
     
 }
 ul,ol,dl {
     list-style: none;
 }
 a {
     text-decoration: none;
     box-sizing: border-box;
     color: #444;
 }
 address {
     font-style: normal;
 }
 button {
     border: none; background-color: transparent;
     cursor: pointer;
 }
 
 .btn-wrap a {
    display: block;
    padding: 16px 0;
    text-align: center;
    font-size: 16px;
    border: 1px solid #2c7fdf; border-radius: 4px;
 }
 .btn-wrap .main {
     color: #fff;
     background: #2c7fdf;
 }
 .btn-wrap .sub {
     color: #2c7fdf;
 }
 .btn-wrap a + a {
     margin-top: 10px;
 }

 .wrapper {
     margin: 0 auto;
     width: 1180px;     
 }
 .infobox-wrapper {
     background-color: #fff; border-radius: 10px; box-shadow: 0 1px 6px #394f77;
 }
 .hidden1 {
     text-indent: -9999rem; overflow: hidden;
 }
 .hidden2 {
     position: absolute;
     width: 1px; height: 1px;
     clip:rect(1px 1px 1px 1px);
}



 /* 헤더 영역 시작 */
header {
     position: fixed;
     top: 0;
     width: 100%;
     color: #fff;
     background-color: #3b92e5;
     z-index: 12;
 }
 .util {
     height: 40px;
     border-bottom: 1px solid #76b2ec;
     text-align: right;
 }
 .util a {
     display: inline-block;
     position: relative;
     margin-right: 15px;
     top: 7px; right: 0;
     color: #fff;
     font-size: 14px; letter-spacing: -0.45px; line-height: 26px;
 }
 .util .btn-login {
     padding: 0 12px;
     color: #448ee3;
     background-color: #fff;
     border-radius: 20px;
 }
 .main-header {
     position: relative;
    border-bottom: 1px solid #76b2ec;
 }
 .main-header .wrapper{
     display: flex; justify-content: space-between; align-items: center;
 }
 .main-header .main-logo h1 {
     height: 60px;
     background: url(./image/logo_chac.png) no-repeat;
     background-size: 100%;
 }
 .main-header .main-logo a {
     color: transparent; font-size: 36px; 
 }
 .main-header .page-switch {
     position: relative;
     margin-right: 70px;
     width: 102px;
 }
 .main-header .page-switch a {
     display: inline-block;
     font-size: 14px; font-weight: 500; line-height: 30px;
    }
.main-header .page-switch #indiv {
     position: relative;
     padding: 0 10px;
     top: 5px; left: 4px;
     color: #2c7fdf; 
     background-color: #fff; border-radius: 30px;
     z-index: 2;
 }
 .main-header .page-switch #corp {
     position: absolute;
     left: 0;
     color: #d6e8f9;
     background-color: #76b2ec; border-radius: 30px;
     padding: 5px 15px 5px 60px;
     z-index: 1;
 }
 .main-header nav > ul {
     display: flex; 
 }
 .main-header nav > ul > li {
     padding: 0 20px;
     font-size: 17px; line-height: 108px;
     cursor: pointer;
 }
 .main-header .menuWrapper {
     display: block;
     position: absolute;
     top: 108px; left: 0;
     width: 100%; height: 0;
     background-color: #fff; 
     box-shadow: 0 3px 8px #77777780;
     z-index: 20;
     overflow: hidden;
     transition-property: height;
     transition-duration: 0.5s;
    }
 .menu.li1 .menuWrapper.on {
     height: 330px;
 }
 .menu.li2 .menuWrapper.on {
     height: 340px;
 }
 .menu.li3 .menuWrapper.on {
     height: 610px;
 }
 .menu.li4 .menuWrapper.on {
     height: 344px;
 }
 .menu.li5 .menuWrapper.on {
     height: 300px;
 }
 .menuWrapper .wrapper {
     align-items: stretch;
     border: 1px solid #f0f0f0; 
 }
 .menuWrapper .wrapper div {
     width: 20%;
     padding: 20px 10px 30px;
 }
 .menuWrapper .wrapper div + div {
    border-left: 1px solid #e7e7e7;
 }
 .main-header .menuWrapper li {
     line-height: 1;
 }
 .main-header .menuWrapper li a {
     display: block;
     padding: 5px;
     height: 28px;
     color: #222; font-size: 15px; line-height: 1.3; font-weight: 300; letter-spacing: -0.07em;
 } 
 .main-header .menuWrapper li a:hover {
    background-color: #e7f3ff;
    font-weight: 500;
 }
 .main-header .menuWrapper .title button{
     display: block;
     margin: 10px 5px;
     font-size: 17px; font-weight: 500;
 }
 .main-header .menuWrapper ul + ul {
     margin-top: 40px;    
 }
 .menu:hover::after {
     content: '';
     display: none; position: absolute;
     margin-left: -73px;
     top: 92px; left: 50%;
     width: 0; height: 0;
     border-top: 9px solid transparent;
     border-right: 6px solid transparent;
     border-bottom: 9px solid #fff;
     border-left: 6px solid transparent;;
 }
 .menu.li1:hover::after {
     display: block;
 }
 .menu.li2:hover::after {
    display: block;
    margin-left: 32px;
}
.menu.li3:hover::after {
    display: block;
    margin-left: 152px;
}
.menu.li4:hover::after {
    display: block;
    margin-left: 272px;
}
.menu.li5:hover::after {
    display: block;
    margin-left: 382px;
}


 .main-header .util-assi #cart {
     margin-left: 10px;
     width: 49px; height: 75px;
     background: url(./image/main_bg_icon.png) no-repeat -53px -96px; 
     background-size: 150px;
 }
 .main-header .util-assi #search {
     margin-left: 16px;
     width: 45px; height: 55px;
     background: url(./image/main_bg_icon.png) no-repeat  -102px -47px;
     background-size: 150px;
}
 /* 헤더 영역 끝 */
 

 /* 메인 영역 시작 */
main {
     margin-top: 150px;
 }
 .main-top {
     padding: 66px 0;
     background: linear-gradient(#3b92e5,#2c7fdf);
 }
 .main-top .wrapper {
     position: relative;
 }
 .main-top h2 {
     color: #fff; font-size: 50px;
 }
 .main-top .main-banner {
     position: absolute;
     top: 0; right: 0;
 }
    .swiper {
     width: 600px;
     height: 120px;
    }

    .swiper-slide {
     text-align: center;
     font-size: 18px;

    /* Center slide text vertically */
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: flex-end;
     justify-content: flex-end;
     -webkit-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
    }
.main-top .swiper p {
     position: relative;
     padding-right: 135px;
     color: #fff;
     text-align: right;
  }
.main-top .swiper a {
     display: block;
     height: 100px;
     background-repeat: no-repeat;
     background-position: right bottom; 
     background-size: 100px; 
  }
.main-top .swiper-slide:nth-of-type(1) a {
     background-image: url(./image/main_banner_1.png);
}
.main-top .swiper-slide:nth-of-type(2) a {
     background-image: url(./image/main_banner_2.png);
}
.main-top .swiper-slide:nth-of-type(3) a {
     background-image: url(./image/main_banner_3.png);
}
.main-top .swiper-slide:nth-of-type(4) a {
     background-image: url(./image/main_banner_4.png);
}
.main-top .swiper-slide:nth-of-type(5) a {
     background-image: url(./image/main_banner_5.png);
}
.main-top .btn-banner-oper {
    position: absolute;
    padding: 0 22px 0 10px;
    right: 135px; height: 22px;
    width: 20px;
    background: #26619e; border-radius: 14px; 
    color: #fff; font-size: 12px; line-height: 14px;
}
.swiper-pagination {
    bottom: 5px; left: -8px;
    font-weight: 300; letter-spacing: -1.2px;
}
.mainBannerBtn {
    position: absolute;
    top: 4px; right: 5px;
    width: 14px; height: 14px;
    color: transparent; font-size: xx-small; line-height: 18px;
    background-color: #92b0cf;
    background-image: url(./image/ico_main_mvp.png); 
    background-position: -160px -5px, 0 0;
    background-size: 200px, 2px;
    border-radius: 9px;
}

.mainBannerBtn.stop {
    background-image: url(./image/ico_main_mvp.png);
    background-position: -160px -27px, 0 0;
    background-size: 200px, 2px;
}
.main-top .top-wrapper {
    display: flex;
    justify-content: space-between;
}
.main-top .main-cate {
    display: flex;
    justify-content: space-between; flex-wrap: wrap; align-items: stretch;
    margin-top: 50px;
    padding: 44px 40px 0;
    width: 500px; height: 320px;
}
.main-top .main-cate a {
    position: relative;
    padding-top: 75px;
    width: 80px;
    color: #444; font-size: 17px; font-weight: 500; text-align: center;
}
.main-top .main-cate a::before {
    content: '';
    display: block; position: absolute;
    top: 0; left: 10px;
    width: 60px; height: 60px;
    background: url(./image/icon_category.png) no-repeat;
    background-size: 240px;
}
.main-top .main-cate .main-cate-list01::before {
    background-position: 0 0;
}
.main-top .main-cate .main-cate-list02::before {
    background-position: -60px 0;
}
.main-top .main-cate .main-cate-list03::before {
    background-position: -120px 0;
}
.main-top .main-cate .main-cate-list04::before {
    background-position: -180px 0;
}
.main-top .main-cate .main-cate-list05::before {
    background-position: 0 -60px;
}
.main-top .main-cate .main-cate-list06::before {
    background-position: -60px -60px;
}
.main-top .main-cate .main-cate-list07::before {
    background-position: -120px -60px;
}
.main-top .main-cate .main-cate-list08::before {
    background-position: -180px -60px;
}
.main-top .main-cate .main-cate-list09::before {
    background-position: 0 -120px;
}
.main-top .main-cate .main-cate-list10::before {
    background-position: -60px -120px;
}
.main-top .main-cate .main-cate-list11::before {
    background-position: -120px -120px;
}
.main-top .main-cate .main-cate-list12::before {
    background-position: -180px -120px;
}
.main-top .login {
    margin-top: 50px;
    padding: 60px 40px 0;
    width: 500px; height: 304px;
}
.main-top .login p {
    color: #222; font-size: 28px; font-weight: 600;
}
.main-top .login .btn-wrap {
    margin-top: 53px;
    width: 250px;
}
.main-top .login .btn-wrap a {
    font-weight: 600;
}
.main-top .login .btn-wrap a::before {
    content: '';
    display: block; position: absolute;
    bottom: 54px; right: 0;
    width: 250px; height: 260px;
    background: url(./image/login_bg.png) no-repeat right bottom;
    background-size: 220px;
}

.sub-banner {
    background-color: #f3f9ff;
}
.sub-banner a {
    display: block;
    margin: 0 auto;
    padding-top: 28px; 
    width: 770px; height: 160px;
    color: #111; letter-spacing: -0.1px;
}
.sub-banner span {
    color: #2c7fdf; font-size: 14px; line-height: 18px; font-weight: 500; 
}
.sub-banner strong {
    display: block; position: relative;
    margin: 10px 0;
    font-size: 28px; line-height: 34px; font-weight: 600; 
}
.sub-banner strong::before {
    content: ''; 
    display: block; position: absolute;
    top: -15px; right: 0;
    width: 72px; height: 72px;
    background: url(./image/bg_ms_banner.png) no-repeat 0 0;
    background-size: contain;
}
.sub-banner p {
    display: inline-block;
    position: relative;
    font-size: 16px; line-height: 22px;
}
.sub-banner p::before {
    content: '';
    display: block; position: absolute;
    width: 5px; height: 5px;
    right: -18px; top: 6px;
    border: 1px solid #111; border-width: 1px 1px 0 0;
    transform: rotate(45deg);
}

.insurr-prod h2 {
    margin: 105px auto 90px;
    text-align: center;
    font-size: 42px;
}
.insurr-prod nav {
    position: sticky;
    top: 150px;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    z-index: 1;
}
.insurr-prod nav div {
    display: flex;
    justify-content: space-around; align-items: center;
    margin: 0 auto;
    height: 66px; width: 1180px;
}
.insurr-prod nav a {
    font-size: 24px; font-weight: 600; line-height: 63px;
}
.active {
    color: #2c7fdf;
    border-bottom: 3px solid #2c7fdf;
}
.insurr-prod section {
    position: relative;
    margin-top: 50px;
}
.insurr-prod .prod-title p {
     font-size: 20px; line-height: 40px;
} 
.insurr-prod .prod-title h3 {
     margin-bottom: 34px;
     font-size: 38px; line-height: 40px; font-weight: 600; 
}
.insurr-prod .prod-title span {
    font-size: 16px; line-height: 26px; letter-spacing: -1px;
}
.insurr-prod .prod-title .info {
    display: block;
    position: relative;
    margin-top: 10px; padding-left: 30px;
    color: #2c7fdf; font-size: 14px;
}
.insurr-prod .prod-title .info::before {
    content: '';
    display: block; position: absolute;
    top: 0; left: 0;
    width: 25px; height: 25px;
    background: url(./image/main_bg_icon.png) no-repeat -107px 0;
    background-size: 158px;
}
.insurr-prod .prod-calc {
    margin-top: 50px;
    width: 312px;
    height: 180px;
}
.insurr-prod .prod-image {
    position: absolute;
    top: 0; right: 0;
}
.insurr-prod .prod-image img {
    margin-right: -40px;
    width: 800px;
}
.insurr-prod .prod-sublist {
    margin: 40px 0;
}
.insurr-prod .prod-sublist ul {
    display: flex;
    flex-wrap: wrap;
}
.insurr-prod .prod-sublist li {
    display: block;
    position: relative;
    margin-bottom: 25px; padding: 30px 25px;
    width: 320px;
    border-radius: 10px; box-shadow: 1px 1px 10px #ccc;
}
.insurr-prod .prod-sublist li:not(:nth-of-type(3)) {
    margin-right: 30px;
}
.insurr-prod .prod-sublist li h4 {
    font-size: 22px; line-height: 24px; font-weight: 600;
    color: #222;
}
.insurr-prod .prod-sublist li p {
    padding: 8px 0;
    height: 58px;
    font-size: 16px; line-height: 25px; letter-spacing: -0.8px;
}
.insurr-prod .prod-sublist li p + p {
    height: initial;
    color: #2c7fdf; font-size: 13px; line-height: 16px; font-weight: 300; letter-spacing: -1.5px;
}
.insurr-prod .prod-sublist a::before {
    content: '';
    display: block; position: absolute;
    bottom: 30px; right: 30px;
    width: 70px; height: 70px;
    background: url(./image/main_prod.png) no-repeat; background-position: 0 0;
    background-size: 400px;
}
.insurr-prod .prod-sublist .corpCar::before {
    background-position: -2px -6px;
}
.insurr-prod .prod-sublist .bike::before {
    background-position: -156px -6px;
}
.insurr-prod .prod-sublist .oneday::before {
    background-position: -245px -6px;
}
.insurr-prod .prod-sublist .driver::before {
    background-position: -79px 1px;
}
.insurr-prod .prod-sublist .mileage::before {
    background-position: -166px -398px;
}
.insurr-prod .prod-sublist .healthRenew::before {
    background-position: -2px -84px;
}
.insurr-prod .prod-sublist .smartCustom::before {
    background-position: -158px -84px;
}
.insurr-prod .prod-sublist .child::before {
    background-position: -79px -242px;
}
.insurr-prod .prod-sublist .miniPlan::before {
    background-position: -2px -162px;
}
.insurr-prod .prod-sublist .childDental::before {
    background-position: -239px -236px;
}
.insurr-prod .prod-sublist .fire::before {
    background-position: -157px -319px;
}
.insurr-prod .prod-sublist .globalCare::before {
    background-position: -159px -160px;
}
.insurr-prod .prod-sublist .localTrip::before {
    background-position: -232px -162px;
}
.insurr-prod .prod-sublist .leisure::before {
    background-position: -323px -398px;
}
.insurr-prod .prod-sublist .screenGolf::before {
    background-position: -244px -398px;
}
.insurr-prod .prod-sublist .storm::before {
    background-position: -320px -318px;
}
.insurr-prod .prod-sublist .commercial::before {
    background-position: -320px -242px;
}
.insurr-prod .prod-sublist .irp::before {
    background-position: -317px 2px;
}
.insurr-prod .main-bottom {
    padding: 70px 0;
    background-color: #f3f4f6;
}
.insurr-prod .main-bottom .infobox-wrapper {
    box-shadow: 1px 1px 10px #ccc;
}
.main-bottom .notice {
    display: inline-table;
    margin-right: 70px; padding: 30px;
    width: 520px;
}
.main-bottom .notice h3 {
    display: inline-block;
    color: #111; font-size: 22px; line-height: 32px; font-weight: 600; letter-spacing: -0.1em;
}
.main-bottom .notice span {
    float: right;
}
.main-bottom .notice a {
    position: relative;
    padding-right: 12px;
    font-weight: 300;
}
.main-bottom .notice a:hover {
    text-decoration: underline;
}
.main-bottom .notice ul {
    margin-top: 20px;
}
.main-bottom .notice ul li a{
    display: inline-block;
    margin: 5px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
}
.main-bottom .automobile-acci-rcpt {
    display: inline-flex;
    position: absolute;
    top: 80px;
    padding-top: 30px;
    color: #000;
}
.main-bottom .automobile-acci-rcpt > div {
    display: flex;
    justify-content: space-between; align-items: flex-end;
    width: 520px;
}
.automobile-acci-rcpt .contact-info h4 {
    font-size: 16px; line-height: 26px; letter-spacing: -0.1em; font-weight: 600;
}
.automobile-acci-rcpt .contact-info strong {
    color: #2c7fdf; font-size: 38px; line-height: 40px; font-weight: 600; 
}
.automobile-acci-rcpt .contact-info dl {
    margin-top: 20px;
}
.automobile-acci-rcpt .contact-info dt {
    font-size: 16px; font-weight: 600;
}
.automobile-acci-rcpt .contact-info dd {
    margin-top: 16px;
    font-size: 15px; line-height: 18px;
}
.automobile-acci-rcpt .contact-info span {
    display: inline-block;
    margin-right: 3px;
    width: 18px; height: 18px;
    color: #fff; font-size: 12px; line-height: 18px; font-weight: 500; text-align: center;
    background: #034ea2; border-radius: 50%;
}
.automobile-acci-rcpt .rcpt-info {
    margin-top: 10px;
}
.automobile-acci-rcpt .rcpt-info li {
    position: relative;
}
.automobile-acci-rcpt .rcpt-info li::before {
    content: '';
    display: block; position: absolute;
    top: 5px; left: -35px;
    width: 20px; height: 22px;
    background: url(./image/ico_main_illu.png) no-repeat;
}
.automobile-acci-rcpt .rcpt-info li:nth-of-type(1):before {
    background-position: 0 -1000px;
}
.automobile-acci-rcpt .rcpt-info li:nth-of-type(2):before {
    background-position: -20px -1000px;
}
.automobile-acci-rcpt .rcpt-info li:nth-of-type(3):before {
    background-position: -60px -1000px;
}
.automobile-acci-rcpt .rcpt-info li:nth-of-type(4):before {
    background-position: -40px -1000px;
}
.automobile-acci-rcpt .rcpt-info a {
    display: block; position: relative;
    margin: 25px 0; padding-right: 35px;
    font-size: 16px; font-weight: 500; letter-spacing: -1.5px;
}
.automobile-acci-rcpt .rcpt-info a:last-of-type {
    margin-bottom: 0;
}
.automobile-acci-rcpt .rcpt-info a::after {
    content: '';
    display: block; position: absolute;
    top: 10px; right: 0;
    width: 5px; height: 5px;
    border: 1px solid #777; border-width: 1px 1px 0 0;
    transform: rotate(45deg);
}
.terms-info {
    margin-top: 100px;
}
.terms-info p {
    color: #555;
    font-size: 13px; line-height: 23px; letter-spacing: -0.03em;
}
.terms-info p + p {
    font-size: 14px;
    text-align: right;
}


aside {
    float: right; position: fixed;
    top: 0; right: 0;
    width: 80px;
    background-color: #fff;
    border: 1px solid #c7ccd6;
    text-align: center;
    z-index: 20;
    transition: all ease 1s;
}
aside.off {
    right: -81px;
}
aside h1 {
    height: 35px;
    font-size: 13px; line-height: 35px; font-weight: 400;
}
aside ul li {
    border-top: 1px solid #c7ccd6;
}
aside ul li a {
    display: block;
    position: relative;
    padding: 50px 0 20px;
    font-size: 12px; line-height: 1;
    background-image: url(./image/ico_quick.png);
    background-repeat: no-repeat;
}
aside ul li:nth-of-type(1) a {
    background-position: -200px -100px;
}
aside ul li:nth-of-type(3) a {
    background-position: -100px 0;
}
aside ul li:nth-of-type(4) a {
    background-position: -200px 0;
}
aside ul li:nth-of-type(5) a {
    background-position: -400px 0;
}
aside ul li:nth-of-type(6) a {
    background-position: 0 -100px;
}
aside ul li:nth-of-type(7) a {
    background-position: -100px -100px;
}
aside .guideBtn {
    position: absolute;
    top: 307px; right: 81px;
    width: 17px; height: 86px;
    background: url(./image/btn_side.png) no-repeat;
    color: transparent;
}
aside .guideBtn.off {
    background: url(./image/btn_side_off.png) no-repeat;
}


footer {
    background-color: #ececf1;
}
footer section:first-of-type {
    background-color: #fff;
    border-top: 1px solid #ddd;
}
footer section + section {
    padding: 28px 0 80px;
}
footer .wrapper {
    position: relative;
}
.relPage {
    display: flex; position: relative;
    justify-content: space-between; align-items: center;   
    height: 46px;
    border: 1px solid #ddd; border-width: 0px 1px 0 1px;
}
.relPage > li {
    position: relative;
    padding-left: 15px;
    font-weight: 500; line-height: 46px;
    width: 25%; height: 100%;
    cursor: pointer;
}
.relPage > li::before {
    content: '';
    display: block; position: absolute;
    top: 18px; right: 18px;
    width: 6px; height: 6px;
    border: 1px solid #222; border-width: 1px 1px 0 0;
    transform: rotate(-45deg);
}
.relPage > li:not(:last-of-type) {
    border-right: 1px solid #ddd;;
}
.relPage .relPageList {
    display: none;
    position: absolute;
    padding: 25px 20px;
    bottom: 46px; left: -1px;
    min-height: 160px; width: 254px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.relPage .relPageList.on {
    display: block;
}
.relPage .relPageList li {
    line-height: 24px;
}
.relPage > li:hover,
.relPage .relPageList a:hover {
    border-bottom: 1px solid #222;
}
.corp-terms {
    display: inline-flex;
}
.corp-terms a,
footer address li,
.copyright p {
    display: block; position: relative;
    padding: 0 8px;
    height: 26px;
    color: #555;
    font-size: 13px; line-height: 26px; font-weight: 500; letter-spacing: -0.5px;
}
.corp-terms a::before,
footer address li::before {
    content: '';
    display: block; position: absolute;
    margin-top: -5.5px;
    top: 50%; left: 0;
    width: 1px; height: 11px;
    background: #b7b7b8;
}
.corp-terms .txt-b {
    font-weight: 600;
}
.corp-awards {
    display: inline-flex;
    margin-left: 20px;
}
.corp-awards a {
    display: block;
    width: 34px; height: 27px;
    background-image: url(./image/footer.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.corp-awards li + li {
    margin-left: 6px;
}
.corp-awards li:nth-of-type(1) a {
    background-position: 0 0;
}
.corp-awards li:nth-of-type(2) a {
    background-position: -50px 0;
}
.corp-awards li:nth-of-type(3) a {
    background-position: -100px 0;
}
.corp-awards li:nth-of-type(4) a {
    background-position: -143px 0;
}
.corp-awards li:nth-of-type(5) a {
    background-position: -100px -30px;
}
footer address {
    margin-top: 17px;
}
footer address ul {
    display: inline-flex;
}
footer address li,
.copyright p {
    font-weight: normal;
}
.cs-num {
    position: absolute;
    top: -8px; right: 0;
}
.cs-num ul {
    display: inline-flex;
    flex-direction: column;
    width: 230px;
}
.cs-num li {
    padding: 5px 0;
}
.cs-num li:nth-of-type(2) {
    border-top: 1px solid #d2d2db;
    border-bottom: 1px solid #d2d2db;
}
.cs-num li > div,
.cs-num li a > div {
float: left;
}
.cs-num li > div + div,
.cs-num li a > div + div {
    float: right;
    text-align: right;
}
.cs-num div .title {
    padding-top: 7px;
    color: #000;
    font-size: 13px; line-height: 16px; font-weight: 500; letter-spacing: -0.03em; 
}
.cs-num div p {
    color: #555;
    font-size: 12px; font-weight: 300;
}
.cs-num div strong {
    font-size: 22px; line-height: 26px; font-weight: 500;
}